header .list-content{
    width: 100%;
    background-color: yellow;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
    overflow: hidden;
    position: fixed;
    z-index: 1;
}

header .list-content .li-burger {
    color: red;
    transition: all 0.1s ease;
    align-items: center;
    width: 20%;
    justify-content: space-around;
    font-size: 2rem; 
}

header .list-content .li-burger div{
    margin-right: auto;
}

.list-open{
    height: 70vh;
    margin-top: 10vh;   
}

.list-close{
    height: 0px;
    margin-top: 0vh;
}

.content-picture-menu{
    width: 100px;
}










